// Body
$body-bg: #ffffff;

// Typography
$font-family: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$white: #ffffff;
$white-light: #f4f4f4;
$ligth: #0084c3;
$secondary: #006ead;
$primary: #1a346b;
$primary-dark: #032a3d;
$blue-dark: #002235;
$black: #232323;
